allow system_suspend sysfs_wakeup:dir r_dir_perms;
allow system_suspend sysfs_battery:dir { open read };
allow system_suspend sysfs_tran_auto_test:dir { read open };
